# Rails環境変数
RAILS_ENV=development
RAILS_MASTER_KEY=[your_master_key_here]

# データベース設定
DATABASE_URL=mysql2://[username]:[password]@[host]:[port]/[database]
MYSQL_ROOT_PASSWORD=[your_password]
MYSQL_DATABASE=[your_database_name]

# その他の環境変数
RAILS_SERVE_STATIC_FILES=true
RAILS_LOG_TO_STDOUT=true

# Gmail Settings
GMAIL_USERNAME=your-email@gmail.com
GMAIL_PASSWORD=your-app-specific-password
